*.iml
.gradle
.idea/.name
.idea/compiler.xml
.idea/copyright
.idea/encodings.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
app/app-release.apk
app/build
app/src/main/res/drawable-hdpi/ic_launcher.png
app/src/main/res/drawable-ldpi/ic_launcher.png
app/src/main/res/drawable-mdpi/ic_launcher.png
app/src/main/res/drawable-xhdpi/ic_launcher.png
app/src/main/res/drawable-xxhdpi/ic_launcher.png
build
ic_launcher-web.png
jp.gr.java_conf.neko_daisuki.simplemediascanner
key.properties
local.properties
