<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.gr.java_conf.neko_daisuki.simplemediascanner"
    android:versionCode="5"
    android:versionName="2.0.0beta1">
    <!--  DialogFragment needs SDK 11 or above -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".EditActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name"/>
        <service android:name=".MainService"/>
        <service android:name=".PeriodicalService"/>
        <receiver android:name=".MainReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.PACKAGE_REPLACED"
                    android:path="jp.gr.java_conf.neko_daisuki.simplemediascaner"
                    android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
<!--
vim: tabstop=4 shiftwidth=4 expandtab softtabstop=4
-->
